<a class="logo-link" href="/">
	<div class="logo-icon">
		{% assign logo_img = 'https://cdn.shopify.com/s/files/1/0588/4867/3992/files/logo.svg?v=1629142311' %}
		{% assign logo_setting = logo %}
		{% if logo_setting %}
			{% assign logo_img = logo_setting %}
		{% endif %}
		<img class="logo-img" src="{{ logo_img }}" alt="{{ logo_alt | default: heading }}">
	</div>
	<div class="logo-headings">
		{% if main %}
			<{{ heading_h_tag }} class="h2 logo-heading">{{ heading }}</{{ heading_h_tag }}>
			<{{ sub_heading_h_tag }} class="h3 logo-sub-heading">{{ sub_heading }}</{{ sub_heading_h_tag }}>
		{% else %}
			<{{ heading_h_tag }} class="h4 nav-logo-heading h-nav-logo">{{ heading }}</{{ heading_h_tag }}>
		{% endif %}
	</div>
</a>