<a class="logo-link" href="/">
	<div class="logo-icon">
		{% assign logo_img = 'https://cdn.shopify.com/s/files/1/0588/4867/3992/files/logo.svg?v=1629142311' %}
		{% assign logo_setting = section.settings.logo_svg_icon_url %}
		{% if logo_setting %}
			{% assign logo_img = logo_setting %}
		{% endif %}
		<img class="logo-img" src="{{ logo_img }}" alt="{{ section.settings.logo_text }}">
	</div>
	<div class="logo-headings">
		{% if main %}
			<{{ section.settings.logo_text_h_tag }} class="h2 logo-heading">{{ section.settings.logo_text }}</{{ section.settings.logo_text_h_tag }}>
			<{{ section.settings.logo_sub_text_h_tag }} class="h3 logo-sub-heading">{{ section.settings.logo_sub_text }}</{{ section.settings.logo_sub_text_h_tag }}>
		{% else %}
			<{{ section.settings.logo_nav_h_tag }} class="h4 nav-logo-heading h-nav-logo">{{ section.settings.logo_text }}</{{ section.settings.logo_nav_h_tag }}>
		{% endif %}
	</div>
</a>