<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}
    <title>{{ page_title }}</title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% render 'meta-tags' %}
    {{ content_for_header }}

    <link rel="stylesheet" href="https://use.typekit.net/zwo0tej.css">
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
  </head>
  <body>
    {% section 'header' %}

    <main id="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <script src="{{ 'app.js' | asset_url }}"></script>
  </body>
</html>
