<div class="container">
    <div class="section-title">
      <{{ section.settings.heading_text_h_tag }} class="h1">
        {{ section.settings.heading_text }}
      </{{ section.settings.heading_text_h_tag }}>
    </div>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'featured_collection' %}
          <div class="offset-container" {{ block.shopify_attributes }}>
            <div class="grid grid-3">
              {% for product in block.settings.featured_collection.products limit: 3 %}
                <div class="product-card">
                  <a class="product-card-link" href="">
                    <img src="" alt="">
                    <div class="h-product-name">{{ product.title }}</div>
                    <div class="h-product-price">{{ product.price | money }}</div>
                  </a>
                  {{ product |  json }}
                </div>
              {% endfor %}
            </div>
            <div class="flex jc-center">
              <a class="btn btn-primary" href="{{ block.settings.button_link |  default: '/collections/best-sellers' }}">
                {{ block.settings.button_text }}
              </a>
            </div>
          </div>
        {% endcase %}
    {% endfor %}
</div>

{% schema %}
{
  "name": "Featured Collection",
  "tag": "section",
  "class": "section featured-collection bg-gray-tan",
  "settings": [
    {
      "type": "select",
      "id": "heading_text_h_tag",
      "default": "h1",
      "label": "Heading Text Tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading_text",
      "default": "Best Sellers",
      "label": "Heading Text"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Featured Collection",
      "limit": 1,
      "settings": [
        {
          "type": "collection",
          "id": "featured_collection",
          "label": "Featured Collection"
        },
        {
          "type": "url",
          "id": "button_Link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "View All",
          "label": "Button Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "blocks": [
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
