<div class="footer-left">
  <div class="footer-left-inside">

    <div class="footer-col">
      {% render 'footer-nav', menu_items: section.settings.footer_left_menu.links %}
    </div>

    <div class="footer-col">
      {% assign footer_right_menu = section.settings.footer_right_menu.links | default: linklists.footer-right-menu.links %}
      {% render 'footer-nav', menu_items: footer_right_menu %}
      <hr />
      {{ section.settings.copyright }}
    </div>

  </div>
</div>

<div class="footer-right">
  <div class="footer-right-inside">

    <{{ section.settings.newsletter_title_h_tag }} class="h2 footer-right-title">{{ section.settings.newsletter_title }}</{{ section.settings.newsletter_title_h_tag }}>
    <{{ section.settings.newsletter_sub_title_h_tag }} class="h3 footer-right-sub-title">{{ section.settings.newsletter_sub_title }}</{{ section.settings.newsletter_sub_title_h_tag }}>

    {% form 'customer', class: 'newsletter' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input
          id="NewsletterForm--{{ section.id }}"
          type="email"
          name="contact[email]"
          class="form-text"
          value="{{ form.email }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            autofocus
            aria-invalid="true"
            aria-describedby="Newsletter-error--{{ section.id }}"
          {% elsif form.posted_successfully? %}
            aria-describedby="Newsletter-success--{{ section.id }}"
          {% endif %}
          placeholder="Email Address"
          required
      >
      <label class="form-label screen-reader" for="NewsletterForm--{{ section.id }}">
        {{ 'newsletter.label' | t }}
      </label>
      {%- if form.errors -%}
        <p class="text-error" id="Newsletter-error--{{ section.id }}">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</p>
      {%- endif -%}
      <button type="submit" class="btn btn-inline-form" name="commit">
        Submit
      </button>
      {%- if form.posted_successfully? -%}
        <p class="text-success" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</p>
      {%- endif -%}
    {% endform %}

  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_left_menu",
      "default": "footer",
      "label": "Footer Left Menu"
    },
    {
      "type": "link_list",
      "id": "footer_right_menu",
      "label": "Footer Right Menu"
    },
    {
      "type": "richtext",
      "id": "copyright",
      "default": "<p>Chattanooga Website Design by <a href=\"https://www.riverworksmarketing.com/\" target=\"_blank\" title=\"Riverworks Marketing\">Riverworks Marketing</a>.</p><p>&copy; Alpaca Life Collection by Alpacas of Greater TN 2021</p>",
      "label": "Copyright"
    },
    {
      "type": "select",
      "id": "newsletter_title_h_tag",
      "default": "h2",
      "label": "Newsletter Title Heading Tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ]
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "default": "Sign up for our mailing list!",
      "label": "Newsletter Title"
    },
    {
      "type": "select",
      "id": "newsletter_sub_title_h_tag",
      "default": "h3",
      "label": "Newsletter Sub Title Heading Tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ]
    },
    {
      "type": "text",
      "id": "newsletter_sub_title",
      "default": "Learn about new products, get farm updates, and more!",
      "label": "Newsletter Sub Title"
    }
  ]
}
{% endschema %}
