<header id="header">
  <div class="top-banner h-nav">
    {{ section.settings.banner_content }}
  </div>
  <div class="header-main">
    <div class="header-container">
      <div class="logo">
        <a class="logo-link" href="/">
          <div class="logo-icon">
            <img class="logo-img" src="{{ section.settings.logo_svg_icon_url }}" alt="{{ section.settings.logo_text }}">
          </div>
          <div class="logo-headings">
            <h2 class="logo-heading">{{ section.settings.logo_text }}</h2>
            <h3 class="logo-sub-heading">{{ section.settings.logo_sub_text }}</h3>
          </div>
        </a>
      </div>
      <div class="header-right">
        <form class="header-search" action="{{ routes.search_url }}" method="get" role="search">
            <input type="hidden" name="options[prefix]" value="last">
            <input class="search-box" type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search">
            <button class="search-button" aria-label="{{ 'general.search.search' | t }}">
              <img class="search-icon" src="{{ 'search.svg' | asset_url }}" alt="Search Icon">
            </button>
        </form>
        <div class="header-links">
          <ul>
            <li>
              <a class="h-nav" href="/account/login">
                <span>Log In</span>
              </a>
            </li>
            <li class="header-links-sep"> | </li>
            <li>
              <a class="h-nav" href="/cart">
                <img class="cart-icon" src="{{ 'cart.svg' | asset_url }}" alt="Cart Icon">
                <span>Cart{%- if cart != empty -%}&nbsp;({{ cart.item_count }}){%- endif -%}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="nav" data-nav="primary">
  <ul>
    {%- for link in section.settings.menu.links -%}
      <li>
        <a class="h-nav" href="{{ link.url | escape }}">{{ link.title | escape }}</a>
      </li>
    {%- endfor -%}
  </ul>
</nav>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "richtext",
      "id": "banner_content",
      "label": "Banner Content"
    },
    {
      "type": "url",
      "id": "logo_svg_icon_url",
      "label": "Logo SVG Icon URL"
    },
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo Text"
    },
    {
      "type": "text",
      "id": "logo_sub_text",
      "label": "Logo Sub Text"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main Menu"
    }
  ]
}
{% endschema %}
