<header id="header">
  <div class="top-banner h-nav">
    {{ section.settings.banner_content }}
  </div>
  <div class="header-main">
    <div class="header-container">
      <div class="logo">
        {% render 'logo', main: true %}
      </div>
      <div class="header-right">
        <form class="header-search" action="{{ routes.search_url }}" method="get" role="search">
            <input type="hidden" name="options[prefix]" value="last">
            <input class="search-box" type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search">
            <button class="search-button" aria-label="{{ 'general.search.search' | t }}">
              <img class="search-icon" src="{{ 'search.svg' | asset_url }}" alt="Search Icon">
            </button>
        </form>
        <div class="header-links">
          {% render 'header-links' %}
        </div>
      </div>
    </div>
  </div>
</header>

<nav id="nav" data-nav="primary">
  <div class="nav-top">
    <div class="logo nav-logo">
      {% render 'logo', main: false %}
    </div>
    <div class="header-links nav-header-links">
      {% render 'header-links' %}
    </div>
  </div>
  <ul>
    {%- for link in section.settings.menu.links -%}
      <li>
        <a class="h-nav" href="{{ link.url | escape }}">{{ link.title | escape }}</a>
        {%- if link.links != blank -%}
          <ul class="mega-menu">
            {%- for childlink in link.links -%}
              <li>
                <a class="h-category" href="{{ childlink.url | escape }}">{{ childlink.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</nav>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "richtext",
      "id": "banner_content",
      "default": "<p>Free Shipping Available</p>",
      "label": "Banner Content"
    },
    {
      "type": "url",
      "id": "logo_svg_icon_url",
      "label": "Logo SVG Icon URL"
    },
    {
      "type": "text",
      "id": "logo_text",
      "default": "Alpacas of Greater TN",
      "label": "Logo Text"
    },
    {
      "type": "text",
      "id": "logo_sub_text",
      "default": "Superior Breeds since 2007",
      "label": "Logo Sub Text"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main Menu"
    }
  ]
}
{% endschema %}
